force-app/main/default/flows/Notify_large_data_download_from_Mashmatrix_Sheet.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_to_Chatter</name>
        <label>Post to Chatter</label>
        <locationX>50</locationX>
        <locationY>386</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>PostMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Check_Download_Record_Num</name>
        <label>Check Download Record Num</label>
        <locationX>182</locationX>
        <locationY>170</locationY>
        <defaultConnectorLabel>Default Result</defaultConnectorLabel>
        <rules>
            <name>Greater_than_200</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >$Record.msmxSheet__RecordNum__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetUser</targetReference>
            </connector>
            <label>Greater than 200</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel
  >Notify large data download from Mashmatrix Sheet {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notify large data download from Mashmatrix Sheet</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetUser</name>
        <label>Get User</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Post_to_Chatter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >$Record.msmxSheet__UserId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Download_Record_Num</targetReference>
        </connector>
        <object>msmxSheet__Download__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>PostMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text
    >User {!GetUser.Name} ({!GetUser.Username}) has downloaded records more than 200.
Book ID: {!$Record.msmxSheet__BookId__c} / Sheet ID: {!$Record.msmxSheet__SheetId__c}</text>
    </textTemplates>
</Flow>
